@use 'variables';

.card-blog-item img {
  width: 100%;
  height: 200px;    
  object-fit: cover;  
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.form-group {
  margin-top: 10px;
}

.btn {
  margin-top: 12px;
  margin-bottom: 12px;
}

.checkbox-select-all-options {
  width: 180px;
  margin: 0 8px;
}