<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="search-input">Keywords</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter email"
      />
    <button type="submit" class="btn btn-primary">Searching</button>
  </form>
</div>